body {
    background-image: url("vapor.gif");
    background-size: cover;
    //background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 30;
    zoom: 200%;
    backdrop-filter: blur(5px);
}
.spotify {
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: arial;
    margin: 15;
    font-size: 43;
    background:linear-gradient(120deg, #1db954, #1db954);
    border-radius: 10px;
    box-shadow: 10px 5px 0px black;
    text-shadow: white 2px 0px 3px;
}
.minecraft {
    color: black;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-family: arial;
    margin: 15;
    font-size: 43;
    background-image: url("minecraft.png");
    background-size: 35%;
    border-radius: 10px;
    box-shadow: 10px 5px 0px black;
    text-shadow: white 2px 0px 3px;
    margin-top: 75
}
.titre {
    width: 21em;
}
.all {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    margin-top: 215;   
}
p {
    text-indent:-9999px;
    font-size: 0;
}
a {
    color:black;
    display: block;
    text-align: center;
    font-weight: bolder;
    font-size: 35;
    margin: 15;
    font-family: arial;
    background-color: dodgerblue;
    border-radius: 10px;
    box-shadow: 10px 5px 0px black;
    text-shadow: white 2px 0px 3px;
    text-decoration: none;
}
ul {
  padding: 0;
  text-align: center;
}
li {
  display: inline;
}